<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982308174016-f6eath10pjvj0ohld81p0v7qatj5bd1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982308174016-f6eath10pjvj0ohld81p0v7qatj5bd1g</string>
	<key>API_KEY</key>
	<string>AIzaSyCyrzQ97SPSvyRUJiu1Pc6oUWRzFWl87aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>982308174016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navaFlutter</string>
	<key>PROJECT_ID</key>
	<string>navaflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>navaflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982308174016:ios:70ba03425883fb98299525</string>
</dict>
</plist>